<!--
=========================================================
* Argon Dashboard 2 - v2.0.3
=========================================================

* Product Page: https://www.creative-tim.com/product/argon-dashboard
* Copyright 2022 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://www.creative-tim.com/license)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include(process.cwd() + '/src/pages/ejs/head'); %>
</head>

<body class="g-sidenav-show dark-version bg-gray-100">
  <div class="min-height-300 bg-primary position-absolute w-100"></div>
  <!-- SideBar -->
  <%- include('./ejs/menu/navbar-side', { isActive: navbarSide?.isActive, vId: jadibot?.vId }) %> 
  <main class="main-content position-relative border-radius-lg ">
    <!-- Navbar -->
    <%- include(process.cwd() + '/src/pages/ejs/navbar', { user: navbar?.user, imgUser: navbar?.imgUser }) %> 
    <!-- End Navbar -->
    
    <div class="container-fluid py-4">
        <% if (!menu?.isFound) { %>
            <div class="align-self-center"> <h1>Not Found!</h1> </div>
        <% } else { %>
            <%- include(process.cwd() + '/src/pages/panel/jadibot/ejs/menu', { vId: jadibot?.vId }) %> 
        <% } %> 
    </div>
  </main>
  
  <!--   Core JS Files   -->
  <script src="/assets/js/core/jquery-3.6.0.min.js"></script>
  <script src="/assets/js/core/socket.io.min.js"></script>
  <script src="/assets/js/core/popper.min.js"></script>
  <script src="/assets/js/core/bootstrap.min.js"></script>
  <script src="/assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="/assets/js/plugins/smooth-scrollbar.min.js"></script>
  <script src="/assets/js/plugins/chartjs.min.js"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <script>
      function getDataStored () {
          return { vId: "<%= jadibot?.vId %>" }
      }
  </script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/assets/js/argon-dashboard.min.js"></script>
  <!-- Ws Handler -->
  <script src="/pages/panel/jadibot/js/menu/ws-handler.js" defer></script>
  <script src="/pages/panel/jadibot/js/menu/movePage.js" defer></script>
  <!-- TopBar -->
  <script src="/assets/js/plugins/topbar.min.js" defer>
    topbar.config({
      autoRun      : true,
      barThickness : 3,
      barColors    : {
        '0'      : 'rgba(26,  188, 156, .9)',
        '.25'    : 'rgba(52,  152, 219, .9)',
        '.50'    : 'rgba(241, 196, 15,  .9)',
        '.75'    : 'rgba(230, 126, 34,  .9)',
        '1.0'    : 'rgba(211, 84,  0,   .9)'
      },
      shadowBlur   : 10,
      shadowColor  : 'rgba(0,   0,   0,   .6)'
    })
  </script>
</body>
</html>